body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    line-height: 1.5;
}

header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: block;
    justify-content: space-between;
    padding: 1%;
    font-size: large;    
    background-color:darkgreen;
    color:white;
}

.card {
text-align: right;
box-shadow: 0 1px 10px 0;
padding: 2px 3px;}

h1 {
color: white;
background-color: darkgreen;

} 

nav button {
    
    width: 230px;
    height: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    background-color: darkgreen
    
    


}



