body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    line-height: 1.5;
}

header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: block;
    justify-content: space-between;
    padding: 1%;
    font-size: large;    
    background-color:darkgreen;
    color:white;
}

.flex-container div {
margin-right: auto;
}


h1 {
color: white;
background-color: darkgreen;

} 

nav button {
    
    width: 230px;
    height: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    background-color: darkgreen
    
    


}



