body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-size: 2000px ;
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    border: 2px solid black;
    }

header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: block;
    justify-content: space-between;
    padding: 2%;
    font-size: large;    
    background-color:darkgreen;
    color:white;
    text-align: center;
}

section img {
  display: flex;
  justify-content: center;
  height: 150px;
  width: 210px;
  background-color: white;
  

}

.flex-parent {
  display: flex;
}

.jc-center {
  justify-content: center;
}

button.margin-right {
  margin-right: 20px;
}

h1 {
    color: white;
    background-color: darkgreen;

} 

h6 {
  text-align: left;
  text-align: center;
}

a{
  color: white;
}

.row {
     width: 100%;
     height: 0px;
}
    
  .col
  {
      width: 100%;
      height: 10px;
      float:left; 
}
/* Marquee with a quote*/
  marquee {
    padding: 5px 0px; 
    display: flex;
    border: 1px black solid;
    font-size: 25px;
    background-color: darkgray;
    font-family: cursive;
  }
/*Top row of buttons lives here*/
nav button {
    padding: 10px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 350px;
    height: 50px;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    background-color: darkgreen   
     
    
}
.flex-parent {
        display: flex;       
        
}
      
.jc-center {
        justify-content: center;
 }
      
button.margin-right {
        margin-right: 20px;
}

/*This is where all the pictures for the projects i have worked on live*/
div img {
  display: flex;
  justify-content: center;
  height: 300px;
  width: 236px;
  background-color: white;
}

.flex-parent {
  display: flex;
}

.jc-center {
  justify-content: center;
}

button.margin-right {
  margin-right: 20px;
}
/*This is the text above the card*/
 article {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: block;
  justify-content: space-between;
  padding: 2%;
  font-size: large;    
  background-color:darkgreen;
  color:white;
  text-align: center;
  border: 2px solid black;


 } 

/* Flip Card lives here*/
.flip-card {
  margin:0 auto;
  background-color: transparent;
  width: 500px;
  height: 600px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: white;
  color: black;
}

.flip-card-back {
  font-size: 10px;
  background-color:black;
  color: white;
  transform: rotateY(180deg);
}

.card h4 { 
  height: 30px;
  background-color: black;
  font-size: 100px;
  color: white;
}
/*This is where the coming soon section for projects goes*/
aside {
  display: block;
  flex-direction:column;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;    
  background-color:darkgreen;
  color:white;
  text-align: center;
}

style div {
    margin: 10px;
    background: white;
    height: 100px;
}

 p#floated {
  display: flex;
  justify-content: center;
  text-align: center;
  background: darkgreen;
  margin: -400px 50px;
  padding: 100px;
  height: 30px;
  width: 300px;;
  border: 3px solid black;
  float: left;
  color: white;
  text-align: center;
}

p#floated2 {
  display: flex;
  justify-content: center;
  text-align: center;
  background: darkgreen;
  margin: -170px 50px;
  padding: 10px;
  height: 60px;
  width: 240px;
  border: 3px solid black;
  float: left;
  color: white;
  text-align: center;
}

p#floated3 {
  display: flex;
  justify-content: center;
  text-align: center;
  background: darkgreen;
  margin: -170px 290px;
  padding: 10px;
  height: 60px;
  width: 240px;
  border: 3px solid black;
  float: left;
  color: white;
  text-align: center;
} 

footer {
  display: block;
  flex-direction:column;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;    
  background-color:darkgreen;
  color:white;
  text-align: center;
}
/*Footer buttons live here*/
.footer button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  border: 2px solid black;
  
}

.flex-parent {
        display: flex;
}
      
.jc-center {
        justify-content: center;
 }
      
button.margin-right {
        margin-right: 20px;
}




